.grid {
  width: 100%;
  height: 90vh;
}

.header {
  width: 100%;
  margin-bottom: 10px;
}

.body {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  margin-top: 10px;
}

.left {
  width: 25%;
  margin-right: auto;
}

.main {
  width: 49%;
  margin-right: auto;
  margin-left: auto;
}

.right {
  width: 25%;
  margin-left: auto;
}

.alt-list-avatar {
  border-radius: 5% !important;
}

.outline-white {
  text-shadow: 1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white;
}

.p4 {
  padding: 4px;
}

.image-fit-to-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
