<app-run-admin-toolbar [runId]="runIdAsSubject" [run]="runOverview" [update]="update">
  <button
    *ngIf="(run | async)?.state.taskStatus !== 'PREPARING' && (run | async)?.state.taskStatus !== 'RUNNING'"
    mat-icon-button
    aria-label="Start task."
    matTooltip="Start task '{{ (run | async)?.state.currentTemplate.name }}'."
    (click)="startTask()"
  >
    <mat-icon>play_circle_outline</mat-icon>
  </button>

  <button
    *ngIf="(run | async)?.state.taskStatus === 'PREPARING' || (run | async)?.state.taskStatus === 'RUNNING'"
    mat-icon-button
    aria-label="End running task."
    matTooltip="End running task '{{ (run | async)?.state.currentTemplate.name }}'."
    (click)="abortTask()"
  >
    <mat-icon>cancel</mat-icon>
  </button>
  <button
    *ngIf="(run | async)?.state.taskStatus !== 'PREPARING' && (run | async)?.state.taskStatus !== 'RUNNING'"
    mat-icon-button
    aria-label="Previous task."
    matTooltip="Got to previous task."
    (click)="previousTask()"
  >
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button
    *ngIf="(run | async)?.state.taskStatus !== 'PREPARING' && (run | async)?.state.taskStatus !== 'RUNNING'"
    mat-icon-button
    aria-label="Next task."
    matTooltip="Got to next task."
    (click)="nextTask()"
  >
    <mat-icon>skip_next</mat-icon>
  </button>
  <span *ngIf="(run | async)?.state.timeLeft > 0" class="mat-body"
    >Time left: {{ toFormattedTime((run | async)?.state.timeLeft) }}</span
  >
  <button
    *ngIf="(run | async)?.state.taskStatus === 'RUNNING'"
    mat-icon-button
    aria-label="Adjust duration."
    matTooltip="Adjust duration of task '{{ (run | async)?.state.currentTemplate.name }}'."
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>alarm_add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="adjustDuration(5)">+5s</button>
    <button mat-menu-item (click)="adjustDuration(10)">+10s</button>
    <button mat-menu-item (click)="adjustDuration(30)">+30s</button>
    <button mat-menu-item (click)="adjustDuration(-5)">-5s</button>
    <button mat-menu-item (click)="adjustDuration(-10)">-10s</button>
    <button mat-menu-item (click)="adjustDuration(-30)">-30s</button>
  </mat-menu>
</app-run-admin-toolbar>
<div class="grid">
  <div class="body">
    <div class="left">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Active viewers</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-action-list>
            <mat-list-item
              *ngFor="let viewer of viewers | async; let i = index; trackBy: resolveViewerById"
              [style.color]="viewer.ready ? 'darkgreen' : 'darkred'"
              (click)="forceViewer(viewer.viewersId)"
              class="outline-white"
            >
              <div class="p4" mat-line>
                <strong>{{ viewer.viewersId }}</strong>
              </div>
              <div class="p4" mat-line>
                <strong>User:</strong> {{ viewer.username }}, <strong>Address:</strong> {{ viewer.host }}
              </div>
            </mat-list-item>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="main">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Tasks</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table
            #taskTable
            mat-table
            [dataSource]="(run | async)?.info.tasks"
            [style.width]="'100%'"
            [trackBy]="resolveTaskById"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let task">{{ task.name }}</td>
            </ng-container>

            <!-- Task Group Column -->
            <ng-container matColumnDef="group">
              <th mat-header-cell *matHeaderCellDef>Group</th>
              <td mat-cell *matCellDef="let task">{{ task.taskGroup }}</td>
            </ng-container>

            <!-- Task Type Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let task">{{ task.taskType }}</td>
            </ng-container>

            <!-- Duration Column -->
            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef>Duration [s]</th>
              <td mat-cell *matCellDef="let task">{{ task.duration }}</td>
            </ng-container>

            <!-- Used Column -->
            <ng-container matColumnDef="past">
              <th mat-header-cell *matHeaderCellDef>Submissions</th>
              <td mat-cell *matCellDef="let task">
                <ng-container *ngIf="(this.submissionsForCurrentTask | async)?.has(task.id); else noRunningTaskTask">
                  {{ (this.submissionsForCurrentTask | async)?.get(task.id) }}
                </ng-container>

                <ng-template #noRunningTaskTask>{{ (this.submissionsForPastTasks | async)?.get(task.id) }}</ng-template>
              </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let task; let i = index">
                <button
                  *ngIf="task.name !== (run | async).state.currentTemplate.name && (run | async)?.state.taskStatus !== 'RUNNING_TASK'"
                  mat-icon-button
                  aria-label="Switch to task."
                  matTooltip="Switch to task."
                  (click)="switchTask(i)"
                >
                  <mat-icon>directions</mat-icon>
                </button>
                <button *ngIf="(this.submissionsForCurrentTask | async)?.has(task.id) || (this.submissionsForPastTasks | async)?.has(task.id)"
                  mat-icon-button
                  aria-label="See submissions"
                  matTooltip="See submissions"
                  (click)="submissionsOf(task)"
                >
                  <mat-icon>assignment_turned_in</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTasks"></tr>
            <tr
              mat-row
              *matRowDef="let task; columns: displayedColumnsTasks"
              [style.font-weight]="task.name === (run | async).state.currentTemplate.name ? 'bold' : ''"
            ></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="right">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Teams</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item
              *ngFor="let team of teams | async; let i = index; trackBy: resolveTeamByName"
              [style.color]="team.color"
            >
              <img
                matListAvatar
                src="{{ teamLogo(team) }}"
                [style.width]="'50%'"
                [style.background-color]="team.color"
                class="alt-list-avatar image-fit-to-container"
                alt="{{ team.name }}'s logo"
              />
              <h3 matLine>{{ team.name }}</h3>
              <p matLine>{{ team.users.length }} member(s)</p>
              <p matLine *ngFor="let user of team.users">
                <!-- <mat-icon>person</mat-icon>-->
                &bull; {{ user.username }}
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="footer"></div>
</div>
