<div class="grid">
    <div class="header">
        <div class="left">
        </div>
        <div class="main">
            <mat-card>
                <div style="display: flex;">
                    <div>
                        <h1>Run {{(run | async)?.info.id}} ({{(run | async)?.state.status}})</h1>
                        <p><strong>Name: </strong>{{(run | async)?.info.name}}</p>
                        <p><strong>Description: </strong>{{(run | async)?.info.description}}</p>
                        <p *ngIf="(run | async)?.state.timeLeft > 0"><strong>Time left:</strong> {{toFormattedTime((run | async)?.state.timeLeft)}}</p>
                    </div>

                    <div class="spacer-flex">

                    </div>
                    <div>
                        <button *ngIf="(run | async)?.state.status == 'CREATED'" mat-icon-button aria-label="Start the competition run." matTooltip="Start the competition run." (click)="start()">
                            <mat-icon>play_arrow</mat-icon>
                        </button>

                        <button *ngIf="(run | async)?.state.status == 'ACTIVE' || (run | async)?.state.status == 'TASK_ENDED'" mat-icon-button aria-label="Previous task." matTooltip="Got to previous task." (click)="previousTask()">
                            <mat-icon>skip_previous</mat-icon>
                        </button>

                        <button *ngIf="(run | async)?.state.status == 'ACTIVE' || (run | async)?.state.status == 'TASK_ENDED'" mat-icon-button aria-label="Next task." matTooltip="Got to next task." (click)="nextTask()">
                            <mat-icon>skip_next</mat-icon>
                        </button>

                        <button *ngIf="(run | async)?.state.status == 'ACTIVE' || (run | async)?.state.status == 'TASK_ENDED'" mat-icon-button aria-label="Start task." matTooltip="Start task '{{(run | async)?.state.currentTask.name}}'." (click)="startTask()">
                            <mat-icon>play_circle_outline</mat-icon>
                        </button>

                        <button *ngIf="(run | async)?.state.status == 'PREPARING_TASK' || (run | async)?.state.status == 'RUNNING_TASK'" mat-icon-button aria-label="Abort running task." matTooltip="Abort running task '{{(run | async)?.state.currentTask.name}}'." (click)="abortTask()">
                            <mat-icon>cancel</mat-icon>
                        </button>

                        <button *ngIf="(run | async)?.state.status == 'RUNNING_TASK'" mat-icon-button aria-label="Adjust duration." matTooltip="Adjust duration of task '{{(run | async)?.state.currentTask.name}}'." [matMenuTriggerFor]="menu">
                            <mat-icon>alarm_add</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="adjustDuration(5)">+5s</button>
                            <button mat-menu-item (click)="adjustDuration(10)">+10s</button>
                            <button mat-menu-item (click)="adjustDuration(30)">+30s</button>
                            <button mat-menu-item (click)="adjustDuration(-5)">-5s</button>
                            <button mat-menu-item (click)="adjustDuration(-10)">-10s</button>
                            <button mat-menu-item (click)="adjustDuration(-30)">-30s</button>
                        </mat-menu>

                        <button *ngIf="(run | async)?.state.status == 'CREATED' || (run | async)?.state.status == 'ACTIVE' || (run | async)?.state.status == 'TASK_ENDED'" mat-icon-button aria-label="Terminate competition run." matTooltip="Terminate competition run." (click)="terminate()">
                            <mat-icon>stop</mat-icon>
                        </button>

                    </div>
                </div>


            </mat-card>
        </div>

        <div class="right">
        </div>
    </div>
    <div class="body">
        <div class="left">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Tasks</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <mat-action-list>
                        <button mat-list-item *ngFor="let task of (run | async).info.tasks; let i = index" (click)="switchTask(i)">
                            <mat-icon *ngIf="task.name == (run | async).state.currentTask?.name">arrow_right</mat-icon>
                            {{ task.name }}
                        </button>
                    </mat-action-list>

                </mat-card-content>
            </mat-card>
        </div>

        <div class="main">
        </div>

        <div class="right">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Teams</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <mat-action-list>
                        <mat-list-item *ngFor="let team of (run | async).info.teams; let i = index" [style.color]="team.color">
                            <img matListAvatar src="{{team.logo}}" [style.width]="'90px'" alt="team logo">
                            <h3 matLine>{{team.name}}</h3>
                            <p matLine>
                                {{team.users.length}} member(s)
                            </p>
                        </mat-list-item>
                    </mat-action-list>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="footer">
    </div>
</div>

