<div class="grid">
    <div class="header">
        <div class="left">
        </div>
        <div class="main">
            <mat-card>
                <div style="display: flex;">
                    <div>
                        <h1>Run {{(run | async)?.info.id}} ({{(run | async)?.state.status}})</h1>
                        <p><strong>Name: </strong>{{(run | async)?.info.name}}</p>
                        <p><strong>Description: </strong>{{(run | async)?.info.description}}</p>
                        <p *ngIf="(run | async)?.state.timeLeft > 0"><strong>Time left:</strong> {{toFormattedTime((run | async)?.state.timeLeft)}}</p>
                    </div>

                    <div class="spacer-flex">

                    </div>
                    <div>
                        <button *ngIf="(run | async)?.state.status == 'CREATED'" mat-icon-button aria-label="Start the competition run." matTooltip="Start the competition run." (click)="start()">
                            <mat-icon>play_arrow</mat-icon>
                        </button>

                        <button *ngIf="(run | async)?.state.status == 'ACTIVE' || (run | async)?.state.status == 'TASK_ENDED'" mat-icon-button aria-label="Previous task." matTooltip="Got to previous task." (click)="previousTask()">
                            <mat-icon>skip_previous</mat-icon>
                        </button>

                        <button *ngIf="(run | async)?.state.status == 'ACTIVE' || (run | async)?.state.status == 'TASK_ENDED'" mat-icon-button aria-label="Next task." matTooltip="Got to next task." (click)="nextTask()">
                            <mat-icon>skip_next</mat-icon>
                        </button>

                        <button *ngIf="(run | async)?.state.status == 'ACTIVE' || (run | async)?.state.status == 'TASK_ENDED'" mat-icon-button aria-label="Start task." matTooltip="Start task '{{(run | async)?.state.currentTask.name}}'." (click)="startTask()">
                            <mat-icon>play_circle_outline</mat-icon>
                        </button>

                        <button *ngIf="(run | async)?.state.status == 'PREPARING_TASK' || (run | async)?.state.status == 'RUNNING_TASK'" mat-icon-button aria-label="Abort running task." matTooltip="Abort running task '{{(run | async)?.state.currentTask.name}}'." (click)="abortTask()">
                            <mat-icon>cancel</mat-icon>
                        </button>

                        <button *ngIf="(run | async)?.state.status == 'RUNNING_TASK'" mat-icon-button aria-label="Adjust duration." matTooltip="Adjust duration of task '{{(run | async)?.state.currentTask.name}}'." [matMenuTriggerFor]="menu">
                            <mat-icon>alarm_add</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="adjustDuration(5)">+5s</button>
                            <button mat-menu-item (click)="adjustDuration(10)">+10s</button>
                            <button mat-menu-item (click)="adjustDuration(30)">+30s</button>
                            <button mat-menu-item (click)="adjustDuration(-5)">-5s</button>
                            <button mat-menu-item (click)="adjustDuration(-10)">-10s</button>
                            <button mat-menu-item (click)="adjustDuration(-30)">-30s</button>
                        </mat-menu>

                        <button *ngIf="(run | async)?.state.status == 'CREATED' || (run | async)?.state.status == 'ACTIVE' || (run | async)?.state.status == 'TASK_ENDED'" mat-icon-button aria-label="Terminate competition run." matTooltip="Terminate competition run." (click)="terminate()">
                            <mat-icon>stop</mat-icon>
                        </button>

                    </div>
                </div>
            </mat-card>
        </div>

        <div class="right">
        </div>
    </div>
    <div class="body">
        <div class="left">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Active viewers</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-action-list>
                        <mat-list-item *ngFor="let viewer of (viewers | async); let i = index"  [style.color]="viewer.ready ? 'darkgreen' : 'darkred'" (click)="forceViewer(viewer.viewersId)">
                            <div mat-line><strong>{{viewer.viewersId}}</strong></div>
                            <div mat-line><strong>User:</strong> {{viewer.username}}, <strong>Address:</strong> {{viewer.host}}</div>
                        </mat-list-item>
                    </mat-action-list>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="main">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Tasks</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <table #taskTable mat-table [dataSource]="(run | async).info.tasks" [style.width]="'100%'">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let task"> {{task.name}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="group">
                            <th mat-header-cell *matHeaderCellDef> Group </th>
                            <td mat-cell *matCellDef="let task"> {{task.taskGroup}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> Type </th>
                            <td mat-cell *matCellDef="let task"> {{task.taskType}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="duration">
                            <th mat-header-cell *matHeaderCellDef> Duration [s] </th>
                            <td mat-cell *matCellDef="let task"> {{task.duration}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> GoTo </th>
                            <td mat-cell *matCellDef="let task; let i = index">
                                <button mat-icon-button aria-label="Switch to task." matTooltip="witch to task." (click)="switchTask(i)" *ngIf="task.name !== (run | async).state.currentTask.name">
                                    <mat-icon>directions</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsTasks"></tr>
                        <tr mat-row *matRowDef="let task; columns: displayedColumnsTasks;" [style.font-weight]="task.name === (run | async).state.currentTask.name ? 'bold' : ''"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="right">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Teams</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <mat-list dense>
                        <mat-list-item *ngFor="let team of (teams | async); let i = index" [style.color]="team.color">
                            <img matListAvatar
                                 src="{{teamLogo(team)}}"
                                 [style.width]="'50%'"
                                 [style.background-color]="team.color"
                                 class="alt-list-avatar" alt="{{team.name}}'s logo" />
                            <h3 matLine>{{team.name}}</h3>
                            <p matLine>{{team.users.length}} member(s)</p>
                            <p matLine *ngFor="let user of team.users">
                                <!-- <mat-icon>person</mat-icon>-->
                                &bull; {{user.username}}
                            </p>
                        </mat-list-item>
                    </mat-list>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="footer">
    </div>
</div>

