<h1 mat-dialog-title xmlns="http://www.w3.org/1999/html">Add task to {{ data.taskGroup.name }}</h1>
<div mat-dialog-content>
  <app-editable-task #taskEditor [task]="data.task" [taskType]="data.taskType" [taskGroup]="data.taskGroup"></app-editable-task>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
  <!-- Disabled until proper import / export functionality exists
    <app-download-button
            [fileName]="fileProvider"
            [downloadable]="downloadProvider"
            matTooltip="Download the task as JSON"></app-download-button>
    <app-upload-json-button
            matTooltip="Upload task JSON"
            [handler]="uploaded"></app-upload-json-button>
            -->
</div>
