<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p %c - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="REST" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>

        <File name="RestRequests" fileName="logs/rest.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="REST" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="Audit" fileName="logs/audit.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="AUDIT" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="Libraries" fileName="logs/libraries.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>

    <Loggers>
        <logger name="org.eclipse.jetty" level="WARN">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Libraries"/>
        </logger>

        <logger name="io.javalin" level="WARN">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Libraries"/>
        </logger>

        <logger name="org.jline" level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Libraries"/>
        </logger>

        <logger name="*" level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Libraries"/>
        </logger>

        <logger name="dev.dres" level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RestRequests"/>
            <AppenderRef ref="Audit"/>
        </logger>

        <Root level="INFO">
        </Root>
    </Loggers>
</Configuration>
