<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p %c - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="REST" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>

        <File name="RestRequests" fileName="logs/rest.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="REST" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="Audit" fileName="logs/audit.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="AUDIT" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="Libraries" fileName="logs/libraries.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="Everything" fileName="logs/42.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </File>
    </Appenders>

    <Loggers>
        <Logger name="org.eclipse.jetty" additivity="false">
            <AppenderRef ref="Console" level="WARN"/>
            <AppenderRef ref="Libraries" level="WARN"/>
            <AppenderRef ref="Everything" level="INFO" />
        </Logger>

        <Logger name="io.javalin" additivity="false">
            <AppenderRef ref="Console" level="WARN"/>
            <AppenderRef ref="Libraries" level="WARN"/>
            <AppenderRef ref="Everything" level="INFO" />
        </Logger>

        <Logger name="org.jline" additivity="false">
            <AppenderRef ref="Console" level="WARN"/>
            <AppenderRef ref="Libraries" level="WARN"/>
            <AppenderRef ref="Everything" level="INFO" />
        </Logger>

        <Logger name="*" additivity="false">
            <AppenderRef ref="Console" level="ERROR"/>
            <AppenderRef ref="Libraries" level="ERROR"/>
            <AppenderRef ref="Everything" level="INFO" />
        </Logger>

        <Logger name="dev.dres"  additivity="false">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="RestRequests" level="INFO"/>
            <AppenderRef ref="Audit" level="INFO"/>
            <AppenderRef ref="Everything" level="DEBUG" />
        </Logger>

        <Root>
            <AppenderRef ref="Everything" level="INFO" />
        </Root>
    </Loggers>
</Configuration>
