<mat-toolbar color="primary">
    <div>DRES</div>

    <div class="spacer-flex"></div>

    <a mat-icon-button aria-label="Competition builder and overview" matTooltip="Competition builder and overview" routerLink="/competition/list">
        <mat-icon>build</mat-icon>
    </a>

    <button mat-icon-button aria-label="Ongoing runs" matTooltip="Ongoing runs" routerLink="/run/list">
        <mat-icon>access_time</mat-icon>
    </button>

    <div class="spacer-flex"></div>

    <div *ngIf="!sessionService.isLoggedIn()">
        <button mat-button routerLink="/login">
            Login
        </button>
    </div>
    <div *ngIf="sessionService.isLoggedIn()">
        <mat-menu #userMenu="matMenu" (close)="authenticationService.logout()">
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
            {{sessionService.getUsername()}}
        </button>
    </div>

</mat-toolbar>

<div id="container">
    <router-outlet></router-outlet>
</div>
