<button *ngIf="!searchBoxActive" type="button" mat-icon-button
        aria-label="Search"
        matTooltip="Search"
        (click)="searchBoxActive = true">
  <mat-icon>search</mat-icon>
</button>
<mat-form-field *ngIf="searchBoxActive" class="width-full">
  <mat-icon matIconPrefix>search</mat-icon>
  <input matInput type="text" placeholder="Search" [(ngModel)]="filter" (ngModelChange)="onTextChanged()" />
  <button type="button" matSuffix mat-icon-button
          aria-label="Clear and close."
          matTooltip="Clear and close."
          (click)="onFilterClear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
