.grid {
  display: grid;
  grid-template-rows: 100px minmax(0, auto) minmax(0, 250px);
  grid-column-gap: 10px;
  row-gap: 25px;
  width: 100%;
  height: 90vh;
}

.header {
  grid-column: 1 / span 5;
}

.footer {
  grid-column: 1 / span 5;
}
