<div>
    <div class="header">
        <h1>Viewer for '{{(runInfo | async)?.name}}' (ID = {{(runInfo | async)?.id}}) </h1>
        <p><strong>Description:</strong> {{(runInfo | async)?.description}}</p>
    </div>
    <div class="left">
        Overall scoreboard
    </div>
    <div class="main">
        <app-task-viewer [info]="runInfo" [state]="runState">
        </app-task-viewer>
    </div>
    <div class="right">
        Task scoreboard
    </div>
    <div class="footer">
        <app-teams-viewer [info]="runInfo" [state]="runState"></app-teams-viewer>
    </div>
</div>

