.header {
  text-align: center;
}

.task-preview {
  padding: 25px;
  min-height: 30vh;
  background-color: black;
}

p.countdown {
  font-size: 2.5em;
  line-height: 2.5em;
  text-align: center;
}

p.preview-text {
  font-size: 2.5em;
  text-align:center;
  vertical-align: middle;
  display: table-cell;
}
