<mat-card>
    <h2 *ngIf="(polledState | async)?.status == 'ACTIVE'" style="text-align: center;">
        {{(currentTask | async)?.name}} (Waiting for task to start.)
    </h2>

    <h2 *ngIf="(polledState | async)?.status == 'PREPARING_TASK'" style="text-align: center;">
        {{(currentTask | async)?.name}} (Waiting for other participants.)
    </h2>

    <h2 *ngIf="(polledState | async)?.status == 'RUNNING_TASK'" style="text-align: center;">
        {{(currentTask | async)?.name}} ({{toFormattedTime((polledState | async)?.timeLeft)}})
    </h2>

    <div *ngIf="(polledState | async)?.status == 'PREPARING_TASK'" class="task-preview">
    </div>

    <div *ngIf="(polledState | async)?.status == 'RUNNING_TASK'" class="task-preview">
        <div *ngIf="(currentQueryObject | async).type == 'video'">
            <video [src]="(currentQueryObject | async).url" class="video-player" autoplay loop>

            </video>
        </div>
    </div>
</mat-card>
