<mat-card>
    <div class="task-preview">
        <!-- VIEWER_UNKNOWN -->
        <div *ngIf="(viewerState | async) === 0">
            <h2 class="header">Initializing viewer... please wait!</h2>
        </div>

        <!-- VIEWER_WAITING_FOR_TASK -->
        <div *ngIf="(viewerState | async) === 1">
            <h2 class="header">{{(taskChanged | async)?.name}} (Waiting for host to start task)</h2>
        </div>

        <!-- VIEWER_TASK_ENDED -->
        <div *ngIf="(viewerState | async) === 2">
            <h2 class="header">{{(taskChanged | async)?.name}} (Task complete)</h2>
            <div *ngIf="(currentTaskTarget | async)">
                <app-video-object-preview [queryObject]="currentTaskTarget" [muted]="true"></app-video-object-preview>
                <app-image-object-preview [queryContent]="currentTaskTarget"></app-image-object-preview>
            </div>
        </div>

        <!-- VIEWER_SYNC -->
        <div *ngIf="(viewerState | async) === 3">
            <h2 class="header">{{(taskChanged | async)?.name}} (Waiting for other viewers)</h2>
        </div>

        <!-- VIEWER_COUNTDOWN -->
        <div *ngIf="(viewerState | async) === 4">
            <h2  class="header">
                {{(taskChanged | async)?.name}} (Task is about to start!)
            </h2>
            <p *ngIf="taskCountdown | async" class="countdown">
                {{ taskCountdown | async }}
            </p>
        </div>

        <!-- VIEWER_PLAYBACK -->
        <div *ngIf="(viewerState | async) === 5">
            <h2 style="text-align: center;">{{(taskChanged | async)?.name}} ({{toFormattedTime(timeLeft | async)}})</h2>
            <div *ngIf="(currentTaskHint | async)">
                <app-video-object-preview [queryObject]="currentTaskHint" [muted]="(config.configAsObservable | async).effects.mute"></app-video-object-preview>
                <app-image-object-preview [queryContent]="currentTaskHint"></app-image-object-preview>
                <app-text-object-preview [queryContent]="currentTaskHint"></app-text-object-preview>
            </div>
        </div>

        <audio #audio [muted]="(config.configAsObservable | async).effects.mute" hidden></audio>
    </div>
</mat-card>
