<mat-card class="flex">
    <div *ngFor="let team of (info|async)?.teams; let i = index" [style.background-color]="team.color + '44'" class="tile">
        <h3 [style.text-align]="'center'">{{team.name}}</h3>

        <div [style.background-color]="team.color" class="logo">
            <img src="{{team.logo}}">
            <p class="score">
                {{(score(i) | async)}}
            </p>
            <p class="counter">
                <span class="CORRECT">{{(correctSubmissions(i) | async)}}</span> |
                <span class="WRONG">{{(wrongSubmissions(i) | async)}}</span> |
                <span class="INDETERMINATE">{{(indeterminate(i) | async)}}</span>
            </p>
        </div>
        <div class="submissions">
            <div *ngFor="let submission of (submissionForTeam(i) | async)" [className]="'submission ' + submission.status">
                <img *ngIf="submission.id" [src]="previewForSubmission(submission) | async" alt="preview"/>
                <p *ngIf="!submission.id">?</p>
            </div>
        </div>
    </div>
</mat-card>

