<mat-card>
    <mat-card-content>
        <div class="flex" [style.overflow-x]="'auto'">
            <div *ngFor="let team of (info|async)?.teams" [style.background-color]="team.color + '44'" class="tile" [@highlight]="(highlight | async).get(team.uid)" (@highlight.done)="resetHighlight.next()">

                <h3 [style.text-align]="'center'">{{team.name}}</h3>

                <div>

                </div>
                <div [style.background-color]="team.color" class="logo">
                    <img src="{{teamLogo(team)}}">
                </div>
                <div *ngIf="(state | async)?.status === 'TASK_ENDED' || (state | async)?.status === 'RUNNING_TASK'" >
                    <p class="score" *ngIf="(scores | async)">
                        {{(scores | async).get(team.uid)}}
                    </p>

                    <p class="counter">
                        <span class="CORRECT">{{(correctSubmissions(team.uid) | async)}}</span> |
                        <span class="WRONG">{{(wrongSubmissions(team.uid) | async)}}</span> |
                        <span class="INDETERMINATE">{{(indeterminate(team.uid) | async)}}</span>
                    </p>

                    <div class="submissions">
                        <div *ngFor="let submission of (submissionForTeam(team.uid) | async)" [className]="'submission ' + submission.status">
                            <img class="placeholder" *ngIf="submission.id" [src]="previewForSubmission(submission) | async"/>
                            <p *ngIf="!submission.id">?</p>
                        </div>
                    </div>
                </div>

                <audio #audio [muted]="(config.configAsObservable | async).effects.mute" hidden></audio>
            </div>
        </div>
    </mat-card-content>
</mat-card>
