<h1 mat-dialog-title>Add task type</h1>
<div mat-dialog-content>
    <app-task-types #content [data]="data"></app-task-types>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
    <!-- Disabled until proper import / export functionality exists
    <app-download-button
        [fileName]="fileProvider"
        [downloadable]="downloadProvider"
        matTooltip="Download task type as JSON"></app-download-button>
    <app-upload-json-button
            matTooltip="Upload task type JSON"
            [handler]="uploaded"></app-upload-json-button>
            -->
</div>
