<div class="flex flex-row content-between align-start">
    <h2>{{tableTitle}}</h2>
    <div class="spacer-flex"></div>
    <ng-content select="[addbtn]"></ng-content>
</div>
<table #table mat-table [dataSource]="dataSource" style="width: 100%;">
    <ng-container [matColumnDef]="column.key" *ngFor="let column of nonCustonColumns()">
        <th mat-header-cell *matHeaderCellDef>{{column.header}}</th>
        <td mat-cell *matCellDef="let element">
            <ng-container [ngSwitch]="column.type">
                <ng-container *ngSwitchCase="'action'">
                    <ng-container *ngFor="let action of column.actions">
                        <ng-container [ngSwitch]="action">
                            <button *ngSwitchCase="'edit'" mat-icon-button aria-label="Edit this element" matTooltip="Edit this element" (click)="onEdit(element)">
                                <mat-icon>{{editIcon}}</mat-icon>
                            </button>
                            <button *ngSwitchCase="'remove'" mat-icon-button aria-label="Remove this element" matTooltip="Remove this element" (click)="onRemove(element)">
                                <mat-icon>{{removeIcon}}</mat-icon>
                            </button>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <div *ngSwitchDefault>
                    {{ element[column.property] }}
                </div>
            </ng-container>
        </td>
    </ng-container>
    <ng-content></ng-content>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
