<div class="grid">
    <div class="header">
        <app-back-button></app-back-button>
                <h1>Judgment for Submission</h1>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="header-container">
            <div [@newDesc]="isNewJudgementDesc ? 'fresh' : 'known'" fxFlex="75" class="header-main">
                <p *ngIf="isJudgmentAvailable"><strong>Description:</strong> {{judgementRequest?.taskDescription}}</p>
                <p *ngIf="debug && isJudgmentAvailable">{{(judgePlayer?.videoUrlDebug | async)}}</p>
                <div class="message" *ngIf="!isJudgmentAvailable">{{noJudgementMessage}}</div>
            </div>
            <div fxFlex="25" class="header-right">
                <span matTooltip="The amount of submissions for which a verdict is missing">
                    <strong>Awaiting Verdict:</strong> {{pendingSubmissions ? (pendingSubmissions | async) : 0}}
                </span><br>
                <span matTooltip="The amount of submissions no judge has seen so far">
                    <strong>Unaudited: </strong> {{openSubmissions ? (openSubmissions | async) : 0}}
                </span>
            </div>
        </div>
    </div>
    <div class="body">

        <app-judgement-media-viewer id="judge-media-viewer"
                                    [req]="observableJudgementRequest"></app-judgement-media-viewer>
        <div [@newDesc]="isNewJudgementDesc ? 'fresh' : 'known'" *ngIf="isJudgmentAvailable" class="controls-container" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div fxLayoutAlign="center" fxFlex="33" class="button-wrapper">
                <button mat-fab color="primary" aria-label="Approve Submission" matTooltip="Approve Submission"
                        (click)="judge('CORRECT')" (keydown.a)="judge('CORRECT')">
                    <mat-icon>thumb_up</mat-icon>
                </button>
            </div>
            <div fxLayoutAlign="center" fxFlex="33" class="button-wrapper">
                <button mat-fab color="accent" aria-label="Submission Unclear" matTooltip="Submission Unclear"
                        (click)="judge('UNDECIDABLE')" (keydown.u)="judge('UNDECIDABLE')">
                    <mat-icon>live_help</mat-icon>
                </button>

            </div>
            <div fxLayoutAlign="center" fxFlex="33" class="button-wrapper">

                <button mat-fab color="warn" aria-label="Reject Submission" matTooltip="Reject Submission"
                        (click)="judge('WRONG')" (keydown.r)="judge('WRONG')">
                    <mat-icon>thumb_down</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>
