.controls-container {
  display:flex;
  flex-direction: row;
  padding-top: 1rem;
}

.progress-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
}

.button-wrapper {
  flex: 1 1 100%;
}
