<ng-container *ngIf="(activeType | async) === 'video' || (activeType | async) === 'segment'"
  ><!-- Media Type Video or Segment -->
  <video
    #videoPlayer
    class="video-player"
    preload="auto"
    [src]="mediaUrl | async"
    autoplay
    loop
    [muted]="(config.configAsObservable | async).effects.mute"
  ></video>
  <div class="controls-container flex flex-row content-between align-center fill" *ngIf="mediaUrl | async">
    <div class="flex-10">
      <button
        mat-flat-button
        color="primary"
        (click)="togglePlaying()"
        [matTooltip]="(videoPlayer.paused ? 'Play' : 'Pause') + ' the video'"
      >
        <mat-icon>{{ videoPlayer.paused ? 'play_arrow' : 'pause' }}</mat-icon>
      </button>
    </div>
    <div class="flex-1">
      <mat-progress-bar
        mode="determinate"
        [value]="playtimeRelative | async"
        matTooltip="Time relative to the submission, inclusive some temporal context."
      ></mat-progress-bar>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(activeType | async) === 'image'"
  ><!-- Media Type Image -->
  <div class="image-container" [style.text-align]="'center'">
    <img class="image" style="max-width: 100%" [src]="mediaUrl | async" alt="image" />
  </div>
</ng-container>
<ng-container *ngIf="(activeType | async) === 'text'"
  ><!-- Media Type Text -->
  <div class="text-container" [style.text-align]="'center'">
    <p class="text" [style.font-size]="fontSize + 'em'" [style.text-align]="'center'" [style.line-height]="'1.5em'">
      {{ currentText | async }}
    </p>
  </div>
</ng-container>
