<app-actionable-dynamic-table
  #typesTable
  [dataSource]="types | async"
  [columnSchema]="columns"
  [displayedColumns]="displayedColumns"
  [onRemove]="remove"
  tableTitle="Task types"
>
  <button mat-button aria-label="Add new task type." matTooltip="Add new task type." [matMenuTriggerFor]="taskTypeMenu">
    <mat-icon>add</mat-icon>Add task type
  </button>
  <mat-menu #taskTypeMenu="matMenu">
    <button mat-menu-item (click)="addTaskType()">New ...</button>
    <button mat-menu-item [matMenuTriggerFor]="taskTypePresets">Presets</button>
  </mat-menu>

  <mat-menu #taskTypePresets="matMenu">
    <button mat-menu-item (click)="addTaskType(tkisPreset)">Textual known item search</button>
    <button mat-menu-item (click)="addTaskType(vkisPreset)">Visual known item search</button>
    <button mat-menu-item (click)="addTaskType(avsPreset)">Ad-hoc video search</button>
    <button mat-menu-item (click)="addTaskType(lscPreset)">Lifelog Search Challenge</button>
  </mat-menu>
</app-actionable-dynamic-table>
