<h2>
    Task types
    <mat-menu #taskTypeMenu="matMenu">
        <button mat-menu-item (click)="addTaskType()">New...</button>
        <button mat-menu-item (click)="addTaskType(tkisTemplate)">Template: Textual KIS</button>
        <button mat-menu-item (click)="addTaskType(vkisTemplate)">Template: Visual KIS</button>
        <button mat-menu-item (click)="addTaskType(avsTemplate)">Template: AVS</button>
        <button mat-menu-item (click)="addTaskType(lscTemplate)">Template: LSC</button>
    </mat-menu>

    <button
            mat-button
            aria-label="Add new task type."
            matTooltip="Add new task type."
            [matMenuTriggerFor]="taskTypeMenu"
    >
        <mat-icon>add</mat-icon>
        Add task type
    </button>

    <mat-list style="display: inline-block">
        <mat-chip-list>
            <mat-chip
                    *ngFor="let taskType of (types | async)"
                    [removable]="true"
                    (removed)="removeTaskType(taskType)"
                    [matTooltip]="summariseTaskType(taskType)"
                    (click)="addTaskType(taskType)"
            >
                {{ taskType.name }} ({{ taskType.targetType.option }} | {{ taskType.score.option }})
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </mat-list>
</h2>
