<div class="flex flex-row header">
    <div>
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>Edit competition {{(builderService.templateAsObservable() | async)?.id}} <span *ngIf="(builderService.dirty() | async)" class="warn-color">(unsaved changes)</span></h1>
    </div>

    <div class="spacer-flex"></div>

    <div>
        <button mat-icon-button aria-label="Save changes to competition." matTooltip="Save changes to competition."
                (click)="save()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button aria-label="Refresh competition (changes will be lost)."
                matTooltip="Refresh competition (changes will be lost)." (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div>
        <app-download-button
                [name]="''"
                [fileName]="fileProvider"
                [downloadProvider]="downloadProvider()"
                matTooltip="Download the entire competition as JSON"></app-download-button>
    </div>
</div>
<div>
    <mat-tab-group animationDuration="1ms" dynamicHeight>
        <mat-tab bodyClass="p2e" label="General Information">
            <app-template-information></app-template-information>
        </mat-tab>
        <mat-tab bodyClass="p2e" label="Teams & Judges">
            <div class="flex flex-row content-between align-start">
                <app-teams-list class="flex-68"></app-teams-list>
                <app-judges-list class="flex-28"></app-judges-list>
            </div>
        </mat-tab>
        <mat-tab bodyClass="p2e" label="Task Types & Task Groups">
            <div class="flex flex-row content-between align-start">
                <app-task-types-list class="flex-48"></app-task-types-list>
                <app-task-groups-list class="flex-48"></app-task-groups-list>
            </div>
        </mat-tab>
        <mat-tab bodyClass="p2e" label="Tasks">
            <div class="flex flex-row content-between align-start">
                <app-task-templates-list [editorLauncher]="this" class="flex-48"></app-task-templates-list>
                <app-task-template-editor #taskTemplateEditor class="flex-48"></app-task-template-editor>
            </div>
        </mat-tab>

    </mat-tab-group>

</div>
