.content-left {
  grid-area: left;
}

.content-right {
  grid-area: right;
}

.content-center {
  grid-area: center;
}

.content-center-right{
  grid-area: center-right;
}

.tb-container-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "left right";
  column-gap: 1em;

  > * {
    min-width: 0;
  }
}

.tb-container-3col-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left left right";
  column-gap: 1em;

  > * {
    min-width: 0;
  }
}

.tb-container-4col-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left left left right";
  column-gap: 1em;

  > * {
    min-width: 0;
  }
}

.tb-container-3col-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left right right";
  column-gap: 1em;

  > * {
    min-width: 0;
  }
}

.tb-container-2col-1col-1col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "left left center right";
  column-gap: 1em;

  > * {
    min-width: 0;
  }
}

.tb-container-2col-2col-1col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "left left center center right";
  column-gap: 1em;

  > * {
    min-width: 0;
  }
}

.tb-container-2col-2col-1col-1col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "left left center center center-right right";
  column-gap: 1em;

  > * {
    min-width: 0;
  }
}
