<p>competition-list works!</p>

<div>
    <table mat-table [dataSource]="competitions">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="taskCount">
            <th mat-header-cell *matHeaderCellDef> # Tasks </th>
            <td mat-cell *matCellDef="let element"> {{element.taskCount}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="teamCount">
            <th mat-header-cell *matHeaderCellDef> # Teams </th>
            <td mat-cell *matCellDef="let element"> {{element.teamCount}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
