<h1 mat-dialog-title>Start competition run</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <p>
            <mat-form-field style="width: 100%">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name" formControlName="name" required/>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field style="width: 100%">
                <mat-label>Type</mat-label>
                <mat-select placeholder="Type" formControlName="type" required>
                    <mat-option *ngFor="let type of runTypes" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="create()">Create</button>
</div>
