<h1 mat-dialog-title>New competition</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <p>
            <mat-form-field style="width:100%;">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name" formControlName="name" required/>
            </mat-form-field>
        </p>
        <p style="width: 100%;"
           matTooltip="Whether participants are allowed to view the tasks.
                             Set to false if this is not desired.
                             If false, only users with the role VIEWER can view the tasks.">
            <mat-checkbox [(ngModel)]="participantsCanView" [ngModelOptions]="{standalone: true}">
                Participants Can View
            </mat-checkbox>
        </p>
        <p>
            <mat-form-field style="width: 100%">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" formControlName="description" required></textarea>
            </mat-form-field>
        </p>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="create()">Create</button>
</div>
