<h1 mat-dialog-title>Add team</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="user-chip-list">
      <mat-chip-grid #chipList aria-label="Users">
        <mat-chip-row
          *ngFor="let user of form.get('users').value"
          [removable]="true"
          (removed)="removeUser(user)"
        >
          {{ user.username }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
        <input placeholder="New user..." [matAutocomplete]="auto" [matChipInputFor]="chipList" />
      </mat-chip-grid>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addUser($event)">
        <mat-option *ngFor="let user of availableUsers | async" [value]="user">
          {{ user.username }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <p>
      <label
        >Team color:
        <span
          [style.background]="form.get('color').value"
          [style.width]="'50px'"
          [style.height]="'20px'"
          [style.display]="'inline-block'"
          [colorPicker]="form.get('color').value"
          [cpPresetColors]="colorPalette"
          (colorPickerChange)="onColorChange($event)"
        >
        </span>
      </label>
      <label>
        <button type="button" mat-button (click)="logoInput.click()">Select logo</button>
        <input hidden type="file" #logoInput formControlName="logoData" (change)="processImage($event)" />
        <span style="text-align: center">
          <img [src]="teamLogo()" alt="The logo of the team" style="max-height: 75px; max-width: 150px" />
        </span>
      </label>
    </p>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
  <!-- Disabled until proper import / export functionality exists
    <app-download-button
        [name]="'Download'"
        [fileName]="fileProvider"
        [downloadable]="downloadProvider"
        matTooltip="Download the team as JSON"></app-download-button>
        -->
</div>
