<h1 mat-dialog-title>Add team</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field style="width: 100%">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Name" formControlName="name"/>
        </mat-form-field>

        <mat-form-field class="user-chip-list">
            <mat-chip-list #chipList aria-label="Users">
                <mat-chip *ngFor="let user of form.get('users').value" [selectable]="true" [removable]="true" (removed)="removeUser(user)">
                    {{(userForId(user) | async)?.username}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="New user..."  [matAutocomplete]="auto" [matChipInputFor]="chipList">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addUser($event)">
                <mat-option *ngFor="let user of (availableUsers | async)" [value]="user">
                    {{user.username}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>


        <p>
            <label>Team color:
                <input [style.background]="form.get('color').value"
                       [style.width]="'50px'"
                       [colorPicker]="form.get('color').value"
                       [cpPresetColors]="colorPalette" (colorPickerChange)="onColorChange($event)"/>
            </label>
            <label>
                <button type="button" mat-button (click)="logoInput.click()">Select logo</button>
                <input hidden type="file" #logoInput formControlName="logo" (change)="processImage($event)"/>
                <span style="text-align: center">
                    <img [src]="teamLogo()" [alt]="form.get('logoId')" style="max-height: 75px; max-width: 150px;">
                </span>
            </label>
        </p>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
    <app-download-json-button
        [name]="'Download'"
        [fileName]="fileProvider"
        [downloadable]="downloadProvider"
        matTooltip="Download the team as JSON"></app-download-json-button>
</div>
