<div style="display: flex">
    <app-back-button></app-back-button>
    <div><h1>Media Collections</h1></div>
    <div class="spacer-flex"></div>
    <div>
        <button mat-icon-button aria-label="Refresh list of collections" matTooltip="Refresh list of collections" (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button aria-label="Create new collection." matTooltip="Create new collection." (click)="create()">
            <mat-icon>note_add</mat-icon>
        </button>
    </div>
</div>

<div>
    <table mat-table [dataSource]="collections" style="width: 100%;" [trackBy]="resolveMediaCollectionById">
        <!-- Actions column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button aria-label="View collection." matTooltip="View collection"  [routerLink]="['/collection/', row.id]">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button aria-label="Edit collection." matTooltip="Edit collection." (click)="edit(row.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Delete collection." matTooltip="Delete competition." (click)="delete(row.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Id column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let row" matTooltip="Click to copy to clipboard id: {{row.id}}" [cdkCopyToClipboard]="row.id">{{row.id.substring(0,8)}}</td>
        </ng-container>

        <!-- Name column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Description column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>

        <!-- BasePath column -->
        <ng-container matColumnDef="basePath">
            <th mat-header-cell *matHeaderCellDef>Base Path</th>
            <td mat-cell *matCellDef="let row">{{row.basePath}}</td>
        </ng-container>

        <!-- Headers & Data -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
