<mat-card>
    <mat-card-title>
        <span *ngIf="competitionOverview">Competition Scores</span>
        <span *ngIf="!competitionOverview">Scores of {{currentTaskGroup | async}}</span>
    </mat-card-title>
    <mat-card-content id="chart">
        <apx-chart
            [series] = "(series | async)"
            [dataLabels]="dataLabels"
            [chart]= "chart"
            [plotOptions]="plotOptions"
            [xaxis]="(xaxis | async)"
            [yaxis]="yaxis"
            [stroke]="stroke"
            [fill]="fill"
            [legend]="legend"
            [theme]="theme">
        </apx-chart>
    </mat-card-content>
</mat-card>
