<mat-card>
    <mat-card-title>
        <span *ngIf="competitionOverview">Competition Scores</span>
        <span *ngIf="!competitionOverview">Scores of {{currentTaskGroup}}</span>
    </mat-card-title>
    <mat-card-content id="chart">
        <apx-chart
        [series] = "series"
        [chart]= "chart"
        [dataLabels]="dataLabels"
        [plotOptions]="plotOptions"
        [xaxis]="xaxis"
        [yaxis]="yaxis"
        [stroke]="stroke"
        [fill]="fill"
        [legend]="legend"
        [theme]="theme">
        </apx-chart>
    </mat-card-content>
</mat-card>
