<app-actionable-dynamic-table
  #teamgroupsTable
  [dataSource]="teamGroups | async"
  [columnSchema]="columns"
  [displayedColumns]="displayedColumns"
  [onRemove]="remove"
  [onEdit]="edit"
  tableTitle="Team groups"
  style="min-width: 100%;"
>
  <ng-container addbtn>
    <button mat-button aria-label="Add new team group."
            matTooltip="Add new team group."
            (click)="add()">
      <mat-icon>add</mat-icon>
      Add team group
    </button>
  </ng-container>
</app-actionable-dynamic-table>
