<ng-container *ngIf="toggleable">
  <button mat-icon-button (click)="(showing = !showing); $event.stopPropagation()">
    <mat-icon>visibility{{showing ? '_off' : ''}}</mat-icon>
  </button>
</ng-container>
<ng-container *ngIf="item && showing">
  <p *ngIf="displayNameAndId"><span class="strong">Name:</span> {{item.name}} ({{item.mediaItemId.substring(0,8)}})</p>
  <ng-container [ngSwitch]="item.type">
    <ng-container *ngSwitchCase="'IMAGE'">
      <img style="max-width: 100%;" [src]="item | resolveMediaItemUrl" alt="The image media item">
    </ng-container>
    <ng-container *ngSwitchCase="'VIDEO'">
      <video style="max-width: 100%;"#videoPlayer controls loop autoplay [src]="item | resolveMediaItemUrl: range ? {range: range} : {}"></video>
    </ng-container>
    <ng-container *ngSwitchCase="'TEXT'">
      (Text:) {{item.name}}
    </ng-container>
  </ng-container>
</ng-container>
