<div style="display: flex;">
    <app-back-button></app-back-button>
    <div><h1>Submission Overview</h1></div>
</div>
<div>
    <table #table mat-table [dataSource]="submissions" style="width: 100%;">
        <!-- ID COL -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let submission"
                matTooltip="Click to copy UID to clipboard"
            [cdkCopyToClipboard]="submission.id">
                {{submission.id.substring(0,8)}}</td>
        </ng-container>

        <!-- TIMESTAMP COL -->
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Timestamp</th>
            <td mat-cell *matCellDef="let submission">
                {{submission.timestamp | epoch2date | date:'dd.MM.yyyy HH:mm:ss' }}
            </td>
        </ng-container>
        <!-- TEAM COL -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let row">{{row.team}}</td>
        </ng-container>
        <!-- STATUS COL -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let row">{{row.status}}</td>
        </ng-container>
        <!-- ITEM COL -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Media Item</th>
            <td mat-cell *matCellDef="let row">{{row.item.name (row.item.type)}}</td>
        </ng-container>
        <!-- ACTION COL -->
        <ng-container matColumnDef="actions">
            <mat-button-toggle-group name="newStatus" aria-label="New Status">
                <mat-button-toggle *ngFor="let s in SUBMISSION_STATUS">{{s}}</mat-button-toggle>
            </mat-button-toggle-group>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
</div>
