<div style="display: flex;">
    <app-back-button></app-back-button>
    <div><h1>Submission overview ({{dataSource.data.length}} submissions)</h1></div>
    <div class="spacer-flex"></div>
    <div>
        <button mat-icon-button aria-label="Refresh list of submissions" matTooltip="Refresh list of submissions" (click)="refreshSubject.next(null)">
            <mat-icon>refresh</mat-icon>
        </button>
        <mat-slide-toggle [(ngModel)]="polling">Poll for updates (every {{pollingFrequencyFactor}}ms)</mat-slide-toggle>
    </div>
</div>
<div>
    <mat-paginator [pageSizeOptions]="[50, 100, 250]" showFirstLastButtons></mat-paginator>
    <table #table mat-table [dataSource]="dataSource" style="width: 100%;">
        <!-- ID COL -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let submission"
                matTooltip="Click to copy UID to clipboard"
                [cdkCopyToClipboard]="submission.id">
                {{submission.id.substring(0, 8)}}</td>
        </ng-container>

        <!-- TIMESTAMP COL -->
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Timestamp</th>
            <td mat-cell *matCellDef="let submission">
                {{submission.timestamp | epoch2date | date:'dd.MM.yyyy HH:mm:ss' }}
            </td>
        </ng-container>
        <!-- TEAM COL -->
        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef>Team</th>
            <td mat-cell *matCellDef="let row">{{row.team}}</td>
        </ng-container>
        <!-- STATUS COL -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let row">{{row.status}}</td>
        </ng-container>
        <!-- ITEM COL -->
        <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef>Media Item</th>
            <td mat-cell *matCellDef="let row">{{row.item != null ? row?.item?.name +" ("+row?.item?.type+")": "N/A"}}</td>
        </ng-container>
        <!-- START COL -->
        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef>Start</th>
            <td mat-cell *matCellDef="let row">{{row.start != null ? ((row.start / 1000) | formatTime) : "N/A"}}</td>
        </ng-container>
        <!-- END COL -->
        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef>End</th>
            <td mat-cell *matCellDef="let row">{{row.end != null ? ((row.end / 1000) | formatTime) : "N/A"}}</td>
        </ng-container>
        <!-- ACTION COL -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
                <mat-button-toggle-group #group="matButtonToggleGroup" value="{{row.status}}">
                    <mat-button-toggle value="CORRECT" aria-label="Correct">
                        <mat-icon color="accent">check</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="WRONG" aria-label="Wrong">
                        <mat-icon color="accent">close</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="INDETERMINATE" aria-label="Indeterminate">
                        <mat-icon color="accent">hourglass_empty</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="UNDECIDABLE" aria-label="Undecidable">
                        <mat-icon color="accent">help_outline</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <span style="width: 4pt;"></span>
                <button mat-icon-button>
                    <mat-icon (click)="update(row, group.value)">save</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>

</div>
