<div style="display: flex">
    <app-back-button></app-back-button>
    <div><h1>Audit Logs</h1></div>
    <div class="spacer-flex"></div>
    <div>
        <!-- dropdown for polling frequency, polling on / of and all the good enterprise stuff -->
    </div>
</div>

<div>
    <table #table mat-table [dataSource]="logs" style="width: 100%;">
        <!-- time column -->
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let row">
                {{row.timestamp | epoch2date | date:'dd.MM.yyyy HH:mm:ss' }}
            </td>
        </ng-container>
        <!-- api column -->
        <ng-container matColumnDef="api">
            <th mat-header-cell *matHeaderCellDef>API</th>
            <td mat-cell *matCellDef="let row">{{(row.api ? row.api : 'N/A')}}</td>
        </ng-container>
        <!-- type column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let row">{{row.type}}</td>
        </ng-container>
        <!-- id column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let row" matTooltip="Click to copy to clipboard id: {{row.id}}" [cdkCopyToClipboard]="row.id">{{row.id.substring(0,8)}}</td>
        </ng-container>

        <!-- table setup -->
        <tr mat-header-row *matHeaderRowDef="displayCols"></tr>
        <tr mat-row *matRowDef="let row; columns: displayCols;"></tr>
    </table>
</div>
