.mat-column-name {
  width: 15%;
}

.mat-column-group {
  width: 15%;
}

.mat-column-actions{
  width: 20%;
}

.mat-mdc-row:hover {
  background: rgba(255,255,255,0.1);
}

.dres-selected-row {
  background: rgba(255,255,255,0.2);
}
