
<div style="display: flex" class="header">
    <div>
        <h1 *ngIf="!dirty">Edit competition {{competitionId}}</h1>
        <h1 *ngIf="dirty">Edit competition {{competitionId}} <span style="color: darkred">(unsaved changes)</span></h1>
    </div>

    <div class="spacer-flex"></div>

    <div>
        <button mat-icon-button aria-label="Save changes to competition." matTooltip="Save changes to competition." (click)="save()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button aria-label="Refresh competition (changes will be lost)." matTooltip="Refresh competition (changes will be lost)." (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="competition">
    <div style="display:flex; flex-wrap: wrap; width: 100%; justify-content: space-between;">
        <div style="flex-basis: 100%;">
            <form [formGroup]="form" >
                <p>
                    <mat-form-field style="width: 100%">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput placeholder="Username" formControlName="name" required/>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field style="width: 100%">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Password" formControlName="description" required></textarea>
                    </mat-form-field>
                </p>
            </form>
        </div>
        <div style="flex-basis: 30%;">
            <div style="display: flex; align-items: center">
                <h2>Teams</h2>

                <div class="spacer-flex"></div>

                <button mat-button aria-label="Add new team." matTooltip="Add new team." (click)="addTeam()">
                    <mat-icon>add</mat-icon>
                    Add team
                </button>

            </div>

            <mat-list>
                <mat-list-item [style.color]="team.color" *ngFor="let team of competition.teams">
                    <img matListAvatar src="{{team.logo}}">
                    <div style="display: flex" matLine>
                        <span>{{team.name}}</span>

                        <div class="spacer-flex"></div>

                        <button mat-icon-button aria-label="Edit task." matTooltip="Edit task." (click)="editTeam(team)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-icon-button aria-label="Remove selected teams." matTooltip="Remove selected teams."  (click)="removeTeam(team)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>

        <div style="flex-basis: 65%;">
            <div style="display: flex; align-items: center">
                <h2>Tasks</h2>

                <div class="spacer-flex"></div>

                <mat-menu #taskMenu="matMenu">
                    <button *ngFor="let type of taskTypes" mat-menu-item (click)="addTask(type)">{{type}}</button>
                </mat-menu>

                <button mat-button aria-label="Add new task." matTooltip="Add new task." [matMenuTriggerFor]="taskMenu">
                    <mat-icon>add</mat-icon>
                    Add task
                </button>


            </div>

            <mat-list>
                <mat-list-item *ngFor="let task of competition.tasks">
                    <div style="display: flex" matLine>
                        <span>{{task.name}} | {{task.taskGroup}} ({{task.description.taskType}})</span>

                        <div class="spacer-flex"></div>

                        <button mat-icon-button aria-label="Edit task." matTooltip="Edit task." (click)="editTask(task)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Remove task." matTooltip="Remove task." (click)="removeTask(task)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
<div *ngIf="!competition">
    <mat-spinner></mat-spinner>
</div>
