<div style="display: flex" class="header">
    <div>
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 *ngIf="!dirty">Edit competition {{competitionId}}</h1>
        <h1 *ngIf="dirty">Edit competition {{competitionId}} <span class="warn-color">(unsaved changes)</span></h1>
    </div>

    <div class="spacer-flex"></div>

    <div>
        <button mat-icon-button aria-label="Save changes to competition." matTooltip="Save changes to competition."
                (click)="save()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button aria-label="Refresh competition (changes will be lost)."
                matTooltip="Refresh competition (changes will be lost)." (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <!-- Disabled until proper "competition export" is available
    <div>
        <app-download-json-button
            [name]="''"
            [fileName]="fileProvider"
            [downloadable]="downloadProvider"
            matTooltip="Download the entire competition as JSON"></app-download-json-button>
    </div>-->
</div>

<div *ngIf="competition">
    <div style="display:flex; flex-wrap: wrap; width: 100%; justify-content: space-between;">
        <div style="flex-basis: 100%;">
            <form [formGroup]="form">
                <p>
                    <mat-form-field style="width: 100%">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput placeholder="Competition Name" formControlName="name" required/>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field style="width: 100%">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Description" formControlName="description" required></textarea>
                    </mat-form-field>
                </p>
                <h2>
                    Task types
                    <mat-menu #taskTypeMenu="matMenu">
                        <button mat-menu-item (click)="addTaskType()">New...</button>
                        <button mat-menu-item (click)="addTaskType(tkisTemplate)">Template: Textual KIS</button>
                        <button mat-menu-item (click)="addTaskType(vkisTemplate)">Template: Visual KIS</button>
                        <button mat-menu-item (click)="addTaskType(avsTemplate)">Template: AVS</button>
                        <button mat-menu-item (click)="addTaskType(lscTemplate)">Template: LSC</button>
                    </mat-menu>

                    <button mat-button aria-label="Add new task type." matTooltip="Add new task type."
                            [matMenuTriggerFor]="taskTypeMenu">
                        <mat-icon>add</mat-icon>
                        Add task type
                    </button>

                    <mat-list style="display: inline-block;">
                        <mat-chip-list>
                            <mat-chip
                                    *ngFor="let taskType of competition.taskTypes"
                                    [removable]="true" (removed)="removeTaskType(taskType)"
                                    [matTooltip]="summariseTaskType(taskType)"
                                    (click)="addTaskType(taskType)">
                                {{taskType.name}} ({{taskType.targetType.option}} | {{taskType.score.option}})
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-list>
                </h2>
                <h2>
                    Task groups
                    <button mat-button aria-label="Add new task group." matTooltip="Add new task group."
                            (click)="addTaskGroup()">
                        <mat-icon>add</mat-icon>
                        Add task group
                    </button>

                    <mat-list style="display: inline-block;">
                        <mat-chip-list>
                            <mat-chip *ngFor="let group of competition.taskGroups"
                                      [removable]="true" (removed)="removeTaskGroup(group)"
                                      [matTooltip]="'Type: '+group.type" color="primary"
                                      (click)="addTaskGroup(group)">
                                {{group.name}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-list>
                </h2>
            </form>
        </div>

        <div style="flex-basis: 30%;">
            <div style="display: flex; align-items: center">
                <h2>Teams</h2>

                <div class="spacer-flex"></div>
                <button mat-button aria-label="Add new team." matTooltip="Add new team." (click)="addTeam()">
                    <mat-icon>add</mat-icon>
                    Add team
                </button>
            </div>


            <table #teamTable mat-table [dataSource]="competition.teams" [style.width]="'100%'">
                <ng-container matColumnDef="logo">
                    <th mat-header-cell *matHeaderCellDef> Logo</th>
                    <td mat-cell *matCellDef="let team">
                        <img matListAvatar src="{{teamLogo(team)}}" [style.width]="'90px'" alt="team logo">
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let team" [style.color]="team.color"> {{team.name}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let team" [style.color]="team.color">
                        <button mat-icon-button aria-label="Edit task." matTooltip="Edit team."
                                (click)="editTeam(team)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-icon-button aria-label="Remove selected teams." matTooltip="Remove selected teams."
                                (click)="removeTeam(team)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsTeams"></tr>
                <tr mat-row *matRowDef="let team; columns: displayedColumnsTeams;"></tr>
            </table>
        </div>

        <div style="flex-basis: 65%;">
            <div style="display: flex; align-items: center">
                <h2>Tasks</h2>

                <div class="spacer-flex"></div>

                <mat-menu #taskMenu="matMenu">
                    <button *ngFor="let group of competition.taskGroups" mat-menu-item
                            (click)="addTask(group)">{{group.name}}</button>
                </mat-menu>

                <button mat-button aria-label="Add new task." matTooltip="Add new task." [matMenuTriggerFor]="taskMenu">
                    <mat-icon>add</mat-icon>
                    Add task
                </button>


            </div>

            <table #taskTable mat-table [dataSource]="competition.tasks" [style.width]="'100%'">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let task"> {{task.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef> Group</th>
                    <td mat-cell *matCellDef="let task"> {{task.taskGroup}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type</th>
                    <td mat-cell *matCellDef="let task"> {{task.taskType}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Duration [s]</th>
                    <td mat-cell *matCellDef="let task"> {{task.duration}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let task; let i = index;">

                        <button mat-icon-button aria-label="Edit task." matTooltip="Edit task."
                                (click)="editTask(task)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Remove task." matTooltip="Remove task."
                                (click)="removeTask(task)">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <button *ngIf="i > 0" mat-icon-button aria-label="Move task up." matTooltip="Move task up."
                                (click)="moveTaskUp(task)">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                        <button *ngIf="i < competition.tasks.length - 1" mat-icon-button aria-label="Move task down." matTooltip="Move task down."
                                (click)="moveTaskDown(task)">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsTasks"></tr>
                <tr mat-row *matRowDef="let task; columns: displayedColumnsTasks;"></tr>
            </table>
        </div>
    </div>
</div>
<div *ngIf="!competition">
    <mat-spinner></mat-spinner>
</div>
