<h1 mat-dialog-title>Add task ({{data.taskType}})</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <p>
            <mat-form-field style="width: 40%;">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name" formControlName="name"/>
            </mat-form-field>

            <mat-form-field style="width: 40%;">
                <mat-label>Task Group</mat-label>
                <input type="text" matInput placeholder="Group" formControlName="taskGroup"/>
            </mat-form-field>

            <mat-form-field style="width: 20%;">
                <mat-label>Duration [s]</mat-label>
                <input type="number" matInput placeholder="Duration" formControlName="duration"/>
            </mat-form-field>
        </p>

        <div *ngIf="form.get('mediaItemId')">
            <p>
                <mat-form-field style="width: 40%;">
                    <mat-select placeholder="Media Collection" formControlName="mediaCollection">
                        <mat-option *ngFor="let mediaCollection of (mediaCollectionSource | async)" [value]="mediaCollection.id" >
                            <span>{{mediaCollection.name}}</span> (ID: {{mediaCollection.id}})
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 55%;" *ngIf="(form.get('mediaCollection').value || form.get('mediaItemId').value)">
                    <input type="text" matInput placeholder="Media item" formControlName="mediaItemId" [matAutocomplete]="autoGroup">
                    <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="mediaItemToDisplay">
                        <mat-option *ngFor="let mediaItem of (mediaItemSource | async)" [value]="mediaItem" >
                            <span>{{mediaItem.name}}</span> |
                            <small>Type: {{mediaItem.itemType}}, ID: {{mediaItem.id}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </p>
        </div>

        <p *ngIf="form.get('start') && form.get('end')">
            <mat-form-field style="width: 40%;">
                <input type="number" matInput placeholder="Segment start" [formControl]="form.get('start')"/>
            </mat-form-field>
            <mat-form-field style="width: 40%;">
                <input type="number" matInput placeholder="Segment end" [formControl]="form.get('end')"/>
            </mat-form-field>
            <mat-form-field style="width: 20%;">
                <select matNativeControl [formControl]="form.get('time_unit')">
                    <option *ngFor="let unit of units" value="unit">{{unit}}</option>
                </select>
            </mat-form-field>
        </p>

        <p *ngIf="form.get('description')">
            <mat-form-field style="width: 100%;">
                <mat-label>Description</mat-label>
                <textarea type="text" matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
        </p>

        <p *ngIf="form.get('descriptions')">
            <mat-form-field *ngFor="let description of form.get('descriptions')['controls']; let i=index" style="width: 100%;">
                <div style="display: flex;">
                    <textarea type="text" matInput placeholder="Description [{{i}}]" [formControl]="description"></textarea>
                    <button mat-icon-button (click)="addDescription(i+1)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button *ngIf="form.get('descriptions')['controls'].length > 1" mat-icon-button (click)="removeDescription(i)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </p>

        <p *ngIf="form.get('delay')">
            <mat-form-field style="width: 100%;">
                <mat-label>Delay [s]</mat-label>
                <input type="number" matInput placeholder="Delay" formControlName="delay"/>
            </mat-form-field>
        </p>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
</div>
