<h1 mat-dialog-title>Add task ({{type}})</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <p>
            <mat-form-field style="width: 100%;">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name" formControlName="name"/>
            </mat-form-field>
        </p>

        <p *ngIf="form.get('mediaItemId')">
            <mat-form-field style="width: 100%;">
                <mat-label>Media item</mat-label>
                <input type="number" matInput placeholder="Media item" formControlName="mediaItemId"/>
            </mat-form-field>
        </p>

        <p *ngIf="form.get('start')">
            <mat-form-field style="width: 70%;">
                <input type="number" matInput placeholder="Segment start" [formControl]="form.get('start').get('value')"/>
            </mat-form-field>
            <mat-form-field style="width: 30%;">
                <select matNativeControl [formControl]="form.get('start').get('unit')">
                    <option *ngFor="let unit of units" value="unit">{{unit}}</option>
                </select>
            </mat-form-field>
        </p>

        <p *ngIf="form.get('end')">
            <mat-form-field style="width: 70%;">
                <input type="number" matInput placeholder="Segment end" [formControl]="form.get('end').get('value')"/>
            </mat-form-field>
            <mat-form-field style="width: 30%;">
                <select matNativeControl [formControl]="form.get('end').get('unit')">
                    <option *ngFor="let unit of units" value="unit">{{unit}}</option>
                </select>
            </mat-form-field>
        </p>

        <p *ngIf="form.get('description')">
            <mat-form-field style="width: 100%;">
                <mat-label>Description</mat-label>
                <textarea type="text" matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
        </p>

        <p *ngIf="form.get('descriptions')">
            <mat-form-field *ngFor="let description of form.get('descriptions')['controls']; let i=index" style="width: 100%;">
                <div style="display: flex;">
                    <textarea type="text" matInput placeholder="Description [{{i}}]" [formControl]="description"></textarea>
                    <button mat-icon-button (click)="addDescription(i)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button *ngIf="form.get('descriptions')['controls'].length > 1" mat-icon-button (click)="removeDescription(i)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </p>

        <p *ngIf="form.get('delay')">
            <mat-form-field style="width: 100%;">
                <mat-label>Delay [s]</mat-label>
                <input type="number" matInput placeholder="Delay" formControlName="delay"/>
            </mat-form-field>
        </p>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="add()">Add</button>
</div>
