/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import '@angular/material/prebuilt-themes/purple-green.css';

.overlay {
  background-color: black;
  opacity: 0.75;
}

/* */
#container {
  margin-top: 25px; /* Previous 100px seems far too much */
  margin-left: 50px;
  margin-right: 50px;
}

/* Defines some spacer classes that can be used in flexboxes etc. */

.spacer-xxlarge {
  padding: 0 80px;
}

.spacer-xlarge {
  padding: 0 40px;
}

.spacer-large {
  padding: 0 25px;
}

.spacer-medium {
  padding: 0 15px;
}

.spacer-small {
  padding: 0 10px;
}

.spacer-tiny {
  padding: 0 5px;
}

.spacer-flex {
  flex: 1 1 auto;
}

/* Hack for progressbar */
/* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version. */
app-judgement-media-viewer .mat-progress-bar-buffer {
  background-color: #e1bee7 !important; /* Not sure why this has to be done manually: https://material.angular.io/components/progress-bar/overview */
}

@import '@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-green, A200);
$warn: mat-palette($mat-red, 500);

/* Having access to the color palette */
.primary-color {
  color: mat-color($primary) !important;
}

.accent-color {
  color: mat-color($accent) !important;
}

.warn-color {
  color: mat-color($warn) !important;
}

.p1r {
  padding: 1rem;
}

.p2r {
  padding: 2rem;
}

.p1e {
  padding: 1em;
}

.p2e {
  padding: 2em;
}

.pt2e {
  padding-top: 2em;
}

.pt1e {
  padding-top: 1em;
}

.pt1r {
  padding-top: 1rem;
}

.pt2r {
  padding-top: 2rem;
}

.pb1e {
  padding-bottom: 1em;
}

.width-full {
  width: 100%;
}

.strong {
  font-weight: bold;
}
