:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-mdc-form-field {
  width: 100%;
  min-width: 300px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-grid-list {
  min-width: 300px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

// See https://stackoverflow.com/a/52009315
.mat-mdc-card-header {
  width: 100% !important;
}

.flush-right {
  margin-left: auto;
}

form {
  padding: 5%;
}
